<div class="jumbotron">
	<h1>Welcome to Blackjack!</h1>
	<p>What's your name?</p>
	<form action="/login" method="post" role="form">
		<div class="form-group">
			<input type="text" name="user" class="form-control input-lg" />
			<input type="submit" name="submit" class="btn btn-success btn-lg" style="display:block">
		</div>
	</form>
</div>