<h1>Here's my form</h1>

<form action="/form001" method="post">
	<input type="text" name="user" />
	<input type="radio" name="class" value="1">1st</input>
	<input type="radio" name="class" value="2">2nd</input>
	<input type="submit" class="btn btn-primary">
</form>